.header {
  background: $off_black;
  color: #fff;
  padding: $m-size 0;
  margin-bottom: $m-size;
}

// Using __ is BEM naming convention ( Block element modifier )
.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off_white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}