// Widget
.widget {
  background: $light_blue;
  margin-bottom: $xl-size;
}

.widget__message {
  color: $off_white;
  margin: 0;
  text-align: center;
}

.widget-header {
  background: $blue;
  color: $off_white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}