// Colors

$off_black: #20222b;
$off_white: #a5afd7;
$blue: #3c4251;
$light_blue: #464b5e;
$dark_blue: #333745;
$purple: #8357c5;

// Breakpoints
$desktop-breakpoint: 45rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;